@import url(https://fonts.googleapis.com/css?family=Raleway:700);

*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #4d347ae0; 
    height: 100%;
    padding: 10px;
    color:white
}

a {
  color: #EE4B5E !important;
  text-decoration:none;
}
a:hover {
  color: black !important;
  text-decoration:none;
}

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 5em;
    font-weight: 700;
    color: #EE4B5E;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #1FA9D6;
}
.isi {
    font-size: 18px;
    text-align: center;
    margin:30px;
    padding:20px;
    color: white;
}
.buttons {
    margin: 30px;
        font-weight: 700;
        border: 2px solid #EE4B5E;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: #EE4B5E;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        display: inline-block;
}
H2 { text-align: left;background: white; }
H1 { text-align: left; }
#center {
    text-align: center; 
}
P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
  }
.main-topic {
    background: url(https://wallpaperaccess.com/full/1461880.jpg)  ;
    background-repeat: no-repeat;
    background-position:left; 
    background-size: 60% 120%;
}

.left-text{
    float:left;
}

.right-picture{
    width: 40%;
    float: right;
    display:block;


    margin:auto;
}


.clear{
    clear: both;
}


/*centered form*/
#cover {
    background: #222 url(https://wallpaperaccess.com/full/1461880.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}



.spinner-button {
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    color: #000;
    background-color: transparent
}

.btn-primary:disabled {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.spinner-button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff
}

.backgroundGray{
    background-color: rgb(181, 181, 181);
}
.resizeImg{
    object-fit:contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
