{% extends 'base.html' %}

{% block content %}
<div class="main-topic">
    <div class="left-text">
    <h1 style="text-align: center;">{% block title %} Auswertung {% endblock %}</h1>
    {% for data in inputList %}
        <h2 >Latitude: {{ data['lat'] }} </h2> 
        {% endfor %}
    {% for data in inputList %}
        <h2>Longitude: {{ data['lon'] }} </h2> 
        {% endfor %}
    {% for data in inputList %}
        <h2>Datespan: : {{ data['date-Start'] }} - {{ data['date-End'] }} </h2> 
        {% endfor %} 
     <h2>The KI says: {{predicted}}</h2>   
        </div>  
    <div class="right-picture">
        <img src={{name}} width="80%"/>
    </div>
    <div class="clear"></div>
</div>
<div class="container">
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-12"><h2 style="text-align: center;">Cropped Image in color<!--and it's Heatmap of highest pixel contribution to detection of Motion--></h1></div>

      </div>
       <div class="row">
         <div class="col-12"><img class="resizeImg" src="/static/gifs/color.png" /></div>
         <!--<div class="col-6"><img class="resizeImg" src="/static/gifs/heatmap.png" /></div>-->
       </div>
   </div>
{% endblock %}